<footer class="footer">
  <div class="container">
    <div class="columns footer-columns">
      <div class="column">
        <div class="footer-brand"><a href="/">Cello.se</a></div>
      </div>
      <div class="column">
        <ul class="footer-social-media-list">
          {{ range .Site.Params.socialMediaProviders }}
          {{ $name := index (first 1 (split . ",")) 0 }}
          {{ $link := index (last 1 (split . ",")) 0 }}
            <li class="footer-social-media-list-item">
              <a href="{{ $link }}" title="{{ i18n "follow_us_on"}} {{ $name }}" target="_blank">
                {{ readFile (printf "static/icons/%s.svg" (lower $name)) | safeHTML }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="column">
        <div class="footer-languages">
          {{ $currentPage := . }}
          {{ range .AllTranslations }}
            <a href="{{ .RelPermalink }}" class="{{ if eq $currentPage.RelPermalink .RelPermalink }}is-active{{ end }}" title="{{ i18n "change_language_to" }} {{ i18n .Lang }}">{{ i18n .Lang }}</a>
          {{ end }}
        </div>
        <div class="footer-currencies" data-turbolinks="false">
          <a href="#" data-currency="SEK" title="{{ i18n "show_prices_in" }} {{i18n "SEK"}}" class="js-currency">SEK</a>
          <a href="#" data-currency="EUR" title="{{ i18n "show_prices_in" }} {{i18n "EUR"}}" class="js-currency">EUR</a>
          <a href="#" data-currency="USD" title="{{ i18n "show_prices_in" }} {{i18n "USD"}}" class="js-currency">USD</a>
          <a href="#" data-currency="JPY" title="{{ i18n "show_prices_in" }} {{i18n "JPY"}}" class="js-currency">YEN</a>
          <a href="#" data-currency="KRW" title="{{ i18n "show_prices_in" }} {{i18n "KRW"}}" class="js-currency">KRW</a>
        </div>
      </div>
    </div>
    <div class="developed-by">Developed by <a href="https://www.linkedin.com/in/otto-nordgren-33117957/" target="_blank">Otto Nordgren</a></div>
  </div>
</footer>
