<div>
<div class="container">
  <nav class="navbar">
    <div class="navbar-start navbar-locale">
      {{ $currentPage := . }}
      {{ range .AllTranslations }}
        <a class="navbar-item-link {{ if eq $currentPage.RelPermalink .RelPermalink }}is-active{{ end }}" href="{{ .RelPermalink }}" title="{{ i18n "language" }}: {{ .Lang }}">{{ .Lang }}</a>
      {{ end }}
    </div>
    <div class="navbar-brand">
      <a href="{{ .Site.Home.RelPermalink }}" title="{{ i18n "home" }}">
        {{ if eq .Kind "home"}}
          <h1>Cello.se</h1>
        {{ else }}
          Cello.se
        {{ end }}
      </a>
    </div>
    <div class="navbar-end">
      {{ $currentPage := . }}
      <div class="navbar-page-items">
        {{ range .Site.Menus.page }}
          <a class="navbar-item-link {{ if or ($currentPage.IsMenuCurrent "page" .) ($currentPage.HasMenuCurrent "page" .)}}is-active{{ end }}" href="{{ .Page.RelPermalink }}" title="{{ .Page.Params.navigationTitle }}">
            {{ .Page.Params.navigationTitle }}
          </a>
        {{ end }}
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <nav class="navbar navbar--stack">
    {{ $currentPage := . }}
    <div class="navbar-category {{ if ne .Kind "home"}}hide-images{{ end }}">
      {{ $parentPage := or (.Parent) (.) }}
      {{ range .Site.Menus.category }}
        <div class="navbar-item">
          <a class="navbar-item-link {{ if or (or ($currentPage.IsMenuCurrent "category" .) ($currentPage.HasMenuCurrent "category" .)) (eq $parentPage.RelPermalink .Page.RelPermalink) }}is-active{{ end }}" href="{{ .Page.RelPermalink }}" title="{{ .Page.Params.navigationTitle }}">
            <div class="navbar-item-link-text">{{ .Page.Params.navigationTitle }}</div>
            <img class="navbar-item-link-image"
              srcset="{{ .Page.Params.image.url }} 1x,
                      {{ .Page.Params.image.url }}&q=40&dpr=2 2x,
                      {{ .Page.Params.image.url }}&q=20&dpr=3 3x"
              src="{{ .Page.Params.image.url }}"
              alt="{{ .Page.Params.image.alt }}"
              title="{{ .Page.Params.image.title }}"
              height="{{ .Page.Params.image.height}}"
              width="{{ .Page.Params.image.width}}"
            >
          </a>
        </div>
      {{ end }}
    </div>
  </nav>
</div>
</div>