{{ define "main" }}
  <div class="container">
    <div class="page-title">
      <h1>Page not found</h1>
    </div>
    <div>
      <div class="columns page-content">
        <div class="column is-two-thirds">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
{{ end }}
