{{ define "main" }}
  <div class="container">
    <div class="page-title">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="columns page-content">
      <div class="column is-two-thirds">
        {{.Content}}
        </div>
      <div class="column is-hidden-mobile">
        <img
          srcset="{{ .Params.image.url }} 1x,
                  {{ .Params.image.url }}&q=40&dpr=2 2x,
                  {{ .Params.image.url }}&q=20&dpr=3 3x"
          src="{{ .Params.image.url }}"
          alt="{{ .Params.image.alt }}"
          title="{{ .Params.image.title }}"
        >
      </div>
    </div>
  </div>
{{ end }}
