<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53841024-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-53841024-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
    <title>{{ block "title" . }}{{ with (.Params.meta.title | default .Params.Title) }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ plainify (.Params.meta.description | default .Content) }}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta property="og:title" content="{{ with (.Params.meta.title | default .Params.Title) }}{{ . }} | {{ end }}{{ .Site.Title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ plainify (.Params.meta.description | default .Content) }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
    {{ with .Params.metaTags.image | default .Params.image }}<meta property="og:image" content="{{ .url }}"/>{{ end }}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@violoncellose"/>
    <meta name="twitter:title" content="{{ with (.Params.meta.title | default .Params.Title) }}{{ . }} | {{ end }}{{ .Site.Title }}"/>
    <meta name="twitter:description" content="{{ plainify (.Params.meta.description | default .Content) }}"/>
    <meta name="twitter:url" content="{{ .Permalink }}"/>
    {{ with .Params.metaTags.image | default .Params.image }}<meta name="twitter:image" content="{{ .url }}"/>{{ end }}
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://www.datocms-assets.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
    {{ if .IsTranslated }}
      {{ range .Translations }}
        <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
      {{ end}}
    {{ end }}
  </head>
  <body>
    {{ block "header" . }}
      {{ partial "header.html" . }}
    {{ end }}
    <div class="content">
      {{ block "main" . }}
      {{ end }}
    </div>
    {{ block "footer" . }}
      {{ partial "footer.html" . }}
    {{ end }}
    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>
