{{ define "main" }}
  <div class="container">
    <div class="category-title">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="page-content is-center is-grey">{{ .Content }}</div>
    <div class="category-products columns is-mobile">
      {{ range sort (where .Data.Pages "Params.archived" false) "Params.price" "desc" }}
        <a href="{{.RelPermalink}}" title="{{ .Title }}" class="category-products-item column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
          <div class="category-products-item-image-container">
            <img
              srcset="{{ .Params.frontImage.url }} 1x,
                      {{ .Params.frontImage.url }}&q=40&dpr=2 2x,
                      {{ .Params.frontImage.url }}&q=20&dpr=3 3x"
              src="{{ .Params.frontImage.url }}"
              alt="{{ .Params.frontImage.alt }}"
              title="{{ .Params.frontImage.title }}"
              height="{{ .Params.frontImage.height}}"
              width="{{ .Params.frontImage.width}}"
            >
            <div class="category-products-item-image-price-tag js-price" data-price="{{.Params.price}}">
              {{ safeHTML (lang.NumFmt 0 .Params.price "- , &nbsp;") }} SEK
            </div>
          </div>
          <div class="category-products-item-title">
            <h2>{{.Title}}</h2>
          </div>
        </a>
      {{ end }}
    </div>
    {{ with .Params.information }}
      <div class="page-sub-content is-center">
        {{ . | markdownify }}
      </div>
    {{ end }}
  </div>
{{ end }}
