{{ define "title"}}
  {{ with .Params.Title }}{{ . }} | {{ end }}{{ with .Parent.Title }}{{ . }} | {{ end }}{{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class="container">
  <div class="product-title">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="columns">
    <div class="product-information column is-half">
      <div class="product-description {{ if .Params.price }}has-price{{ end }}">{{ .Content }}</div>
      {{ if .Params.price }}
        <div class="product-price">{{ i18n "price" }} <span class="js-price" data-price="{{ .Params.price }}">{{ safeHTML (lang.NumFmt 0 .Params.price "- , &nbsp;") }} SEK</span></div>
      {{ end }}
      {{ with .Params.information }}
        <div class="product-meta-description">
          {{ . | markdownify }}
        </div>
      {{ end }}
    </div>
    <div class="product-images column is-offset-1 columns is-mobile">
      {{ range .Params.images }}
        <div class="product-image column is-one-third-desktop is-half-tablet is-half-mobile">
          <a href="{{.full}}" target="_blank" title="{{ i18n "open_in_new_tab"}}">
              <img class="product-image-img"
                srcset="{{ .thumb }} 1x,
                        {{ .thumb }}&q=40&dpr=2 2x,
                        {{ .thumb }}&q=20&dpr=3 3x"
                src="{{ .thumb }}"
                alt="{{ .alt }}"
                title="{{ .title }}"
                height="{{ .height}}"
                width="{{ .width}}"
              >
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
