<div class="video-modal-wrapper js-video-modal-close js-video-modal">
  <div class="video-close"></div>
  <div class="video-modal">
    <iframe id="player" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/{{ providerUid }}?enablejsapi=1&origin=http://example.com" frameborder="0"></iframe>
  </div>
</div>
